<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.core.manycloudcommon.mapper.RegionCountryMapper" >
  <resultMap id="BaseResultMap" type="com.core.manycloudcommon.entity.RegionCountry" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="superior_id" property="superiorId" jdbcType="INTEGER" />
    <result column="country_name" property="countryName" jdbcType="VARCHAR" />
    <result column="superiorName" property="superiorName" jdbcType="VARCHAR" />
    <result column="sorting" property="sorting" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, superior_id, country_name, sorting, remark, status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_region_country
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_region_country
    order by id desc
  </select>

  <select id="selectByContinent" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from t_region_country
    where superior_id = #{continentId,jdbcType=INTEGER}
    order by sorting
  </select>

  <select id="selectList" resultMap="BaseResultMap">
    select
      cou.id, cou.superior_id,con.continent_name as superiorName, cou.country_name, cou.sorting, cou.remark, cou.status, cou.create_time, cou.update_time
    from
      t_region_country as cou
    left join
      t_region_continent as con on con.id = cou.superior_id
    where
    1 = 1
    <if test="superiorId != null" >
      and  cou.superior_id = #{superiorId,jdbcType=INTEGER}
    </if>
    <if test="countryName != null" >
      and  cou.country_name like '%${countryName}%'
    </if>
    <if test="status != null" >
      and  cou.status = #{status,jdbcType=INTEGER}
    </if>
    order by cou.id desc
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_region_country
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.core.manycloudcommon.entity.RegionCountry" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_region_country (superior_id, country_name, sorting, 
      remark, status, create_time, 
      update_time)
    values (#{superiorId,jdbcType=INTEGER}, #{countryName,jdbcType=VARCHAR}, #{sorting,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.core.manycloudcommon.entity.RegionCountry" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_region_country
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="superiorId != null" >
        superior_id,
      </if>
      <if test="countryName != null" >
        country_name,
      </if>
      <if test="sorting != null" >
        sorting,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="superiorId != null" >
        #{superiorId,jdbcType=INTEGER},
      </if>
      <if test="countryName != null" >
        #{countryName,jdbcType=VARCHAR},
      </if>
      <if test="sorting != null" >
        #{sorting,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.core.manycloudcommon.entity.RegionCountry" >
    update t_region_country
    <set >
      <if test="superiorId != null" >
        superior_id = #{superiorId,jdbcType=INTEGER},
      </if>
      <if test="countryName != null" >
        country_name = #{countryName,jdbcType=VARCHAR},
      </if>
      <if test="sorting != null" >
        sorting = #{sorting,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.core.manycloudcommon.entity.RegionCountry" >
    update t_region_country
    set superior_id = #{superiorId,jdbcType=INTEGER},
      country_name = #{countryName,jdbcType=VARCHAR},
      sorting = #{sorting,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>